[user]
	email = robinmusy12@gmail.com
	name = atikiNBTW
[push]
	autoSetupRemote = true
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
	credentialStore = secretservice
[credential "https://dev.azure.com"]
	useHttpPath = true
[pull]
	rebase = true
